# Copier ce fichier en terraform.tfvars et remplir les valeurs
# NE PAS committer terraform.tfvars (il est dans .gitignore)

project_name     = "git-hackathon"
region           = "dc3-a"
network_cidr     = "10.10.0.0/24"
external_network = "ext-floating1"
vm_image         = "Ubuntu 22.04 LTS Jammy Jellyfish"
vm_flavor        = "a1-ram2-disk20-perf1"
ssh_key_name     = "git-hackathon-key"
ssh_public_key   = "ssh-ed25519 AAAA... ton@email"
