[defaults]
roles_path = /home/mfelipe/git-hackathon-2026/infra/ansible/roles
inventory   = /home/mfelipe/git-hackathon-2026/infra/ansible/inventory/hosts.yml
remote_user = ubuntu
private_key_file = ~/.ssh/id_ed25519
host_key_checking = False
